@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('../fonts/HelveticaNeue-Bold.ttf') format('truetype');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Bold" ,sans-serif;
    font-size: 16px;
    text-decoration: none;
}

body {
    background-color: #ffffff;
    width: 100%;
    overflow: scroll;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d9000d;
    width: 100%;
}

nav.menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
img.logo {
    width: 200px;
}

a{
    font-weight: bold;
    color: white;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
    margin-left: 30px;
}

a.eres-socio {
    text-decoration: none;
    color: white;
    font-size: 16px;
    border: 2px solid yellow;
    border-radius: 20px;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
}

.iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
img.svg {
    height: 25px;
    margin-left: 20px;
}

img.svg-perfil {
    border-radius: 50%;
    background-color: #ffd402;
    height: 50px;
    margin-left: 20px;
}

.contenido {
    width: 100%;
    overflow: hidden;
}

.slider {
    width: 100%;
    position: relative;
}

.banners {
    width: 100%;
    height: auto;
    display: flex;
    cursor: pointer;
    position: absolute;
    left: 0;
    transition: left 0.5s ease;
}

img.banner {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.botones-banners {
    display: flex;
    position: absolute;
    bottom: 40px;
    left: 70px;
}

.btn1, .btn2, .btn3, .btn4, .btn5 {
    width: 12px;
    height: 12px;
    margin: 2px;
    border-radius: 50%;
    background-color: #eeeeee;
    cursor: pointer;
}

.btn1 {
    background-color: #d9000d;
}

.btn-comprar {
    background-color: #d9000d;
    font-size: 18px;
    position: absolute;
    bottom: 40px;
    right: 70px;
    color: #ffffff;
    padding: 12px 25px 12px 25px;
    border-radius: 20px;
}

.contenido-interno {
    padding: 15px 60px 15px 60px;
}

h1.titulo {
    margin-left: 40px;
    font-size: 30px;
    color: #30302f;
}

.peliculas {
    display: flex;
}

.cartelera {
    flex-wrap: wrap;
}

.contenido-pelicula {
    margin: 12px;
}

img.pelicula-portada {
    border-radius: 10px;
    width: 160px;
    height: 226px;
}

section.ventas-corporativas {
    padding: 40px;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 200px;
    height: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 25px;
    box-shadow: 0px 0px 20px #9e9e9e9f;
    h2 {
        margin-top: 20px;
        text-align: center;
        width: 149px;
        color: #161615;
        font-size: 16px;
    }
}

.cines {
    display: flex;
    flex-wrap: wrap;
}

footer {
    width: 100%;
    height: 346px;
    background-image: url(https://www.cinestar.com.pe/footer_bg.3410ddc9f7e368620d75.svg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-footer {
    display: flex;
    flex-direction: column;
}

.link-footer {
    margin: 0px;
    margin-top: 20px;
    color: white;    
}

.link-footer:first-child {
    margin-top: 0px;
}

.link-footer:hover {
    color: #ffd400;
}

h1.footer {
    color: #ffd400;
}

label {
    color: white;
}

.formulario-footer {
    margin-left: 80px;
    .nombres {
        color: red;
    }
    input {
        background-color: transparent;
        color: white;
        border-radius: 20px;
        border: 1px solid white;
        outline: none;
        padding: 10px;
    }
    input.btn-enviar {
        background-color: #d9000d;
        font-size: 18px;
        color: #ffffff;
        border: 0px;
        padding: 12px 25px 12px 25px;
        border-radius: 20px;
    }
}

/*
p {
    font-family: "Century Gothic", Arial, Verdana !important;
    font-size: 12px;
    margin-bottom: 0em;
    margin-top: 0.8em !important;
    color: #666666;
     line-height: 15px;
    text-decoration: none;
}

.nav-sec {
    width: auto;
    height: 19px;
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    text-align: right;
    margin-top: 4px;
}

.nav-sec a {
    color: #fff;
    text-decoration: none;
}

.nav-sec a:hover {
    color: #f6ec4f;
}



.menu {
    margin-top: 10px;
    float: left;
}

nav span.social {
    color: #000;
    font-weight: bold;
    font-size: 12px;
    width: 87px;
    float: right;
    margin-top: 2px;
}

nav span.img-social {
    float: right;
    margin-top: -2px;
    margin-right: 40px;
}

nav ul.menu-principal {
    list-style: none;
    height: 32px;
    margin-top: 0px;
    font-size: 12px !important;
    font-weight: bold !important;
}

ul.menu-principal li {
    margin-left: 18px !important;
}

ul.menu-principal li a:hover {
    color: #fff;
    box-shadow: inset 0px 0px 5px #999;
    border-radius:  5px;
}

.papaya {
    width: 287px;
    height: 271px;
    margin: 0;
    float: left;
    margin-top: 10px;
}

.publicidad {
    width: 295px;
    height: auto;
    float: left;
    margin-left: 6px;
}

.publicidad a img {
    width: 280px;
    height: 200px;
    margin: 0 0 10px 0;
    background-color: #ccc;
}

.contenido-interno h1 {
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

.contenido-interno h4 {
    font-size: 13px !important;
    font-style: normal;
    font-weight: bold;
    color: #414141;
    text-decoration: none;
    display: block;
}

.clearbox {
    clear: both;
}

/* ---------- verCines ----------*/

.contenido-cine {
    width:250px;
    height:350px;
    margin-top:10px;
    margin-right:50px;
    padding:10px;
    float:left;  
    display:inline;
    background-color:#EEE;
    border:1px solid #cccccc;
}

.datos-cine {
    font-size: 12px;
    margin-bottom: 0em;
    margin-top: 0.8em !important;
    color: #666666;
    line-height: 15px;
    text-decoration: none;
}

.datos-pelicula h2 {
    font-size: 14px !important;
    color: #000;
    margin-bottom: 0.7em !important;
    margin-top: 1em !important;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
}

.datos-pelicula p {
    font-family: "Century Gothic", Arial, Verdana !important;
    font-size: 12px;
    margin-top: 0.8em !important;
    color: #666666;
    line-height: 15px;
    text-decoration: none;
}

.boton-pelicula {
    width: 120px;
    height: 30px;
    float: left;
    margin-right: 3px;
}


/* ---------- verPelicula ----------*/

.datos-pelicula .tabla {
    display: table;
    font-size: 12px;
    margin-bottom: 0em;
    margin-top: 0.8em !important;
    color: #666666;
    line-height: 15px;
    text-decoration: none;
}

.datos-pelicula .fila {
    display: table-row;
}

.datos-pelicula .celda-titulo {
    font-weight: bold;
    height: 25px;
}

.datos-pelicula .celda {
    display: table-cell;
    width: 72%;
}

.pelicula-video {
    margin-top: 70px;
}


/* ---------- verCine ----------*/

.cine-info {
    background-color: #FFF;
    width: 600px;
    height: auto;
}

.cine-info .datos {
    width: 55%;
}

.cine-info .impar {
    background-color: rgb(255, 253, 221);
}

.cine-info .celda-titulo {
    width : 80%;
    font: 12px Arial, Helvetica, sans-serif;
    font-style: normal;
    color: #666;
    cursor: pointer;
    line-height: 17px;
}

.cine-info .celda {
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    cursor: pointer;
    float: right;
    margin-top: -15px;
    line-height: 17px;
}

.cine-info p {
	text-align: justify;
}

.aviso p {
	font-size: 10px;
}

.cine-info img {
    float : right;
    margin: -265px 5px 0 0;
}

.celda-cabecera {
    display: inline-block;
	width: 50%;
	border: 0;
    border-bottom: 1px;
    border-color: #FFFAB4;
    border-style: solid;
    color: #FFFFFF;
    background-color: #000;
    font-size: 11px;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-weight: bold;
    margin-right: -4px;
}